.heading {
  font-size: 28px;

  @media (min-width: 426px) {
    font-size: 36px;
  }

  @media (min-width: 768px) {
    font-size: 40px;
  }
}

.variant-black {
  color: var(--color-black);
}

.variant-white {
  color: var(--color-white);
}
