.page {
  display: flex;
  flex-direction: column;
  // gap: 40px;
}

.marqueeContainer {
  position: absolute;
  top: 70px;
  width: 100vw;
  // overflow: hidden;
}

.mainBlock {
  margin-top: 10px;

  &Content {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid var(--color-black);
    border-radius: 40px;
    padding: 20px 20px 20px 20px;
  }

  &Image {
    overflow: hidden;
    border-radius: 130px 130px 0 0;
    margin-top: 60px;
    & img {
      object-fit: cover;
      height: 400px;
    }
  }
}

.invitation {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin-top: 20px;

  &Text {
    text-align: center;
    color: var(--color-black);
  }

  &Name {
    text-align: center;
  }
}

.secondBlock {
  margin-top: 40px;
  &Grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }

  &Texted {
    padding: 20px;

    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: center;

    position: relative;

    background: url("/gradient.jpg") no-repeat;
  }
  .whenText {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    max-width: 80%;
    text-align: center;
    a {
      color: white;
    }
  }

  &Image {
    position: relative;
    height: 250px;

    & img {
      object-fit: cover;
    }
  }
}

.thirdBlock {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;

  &Wrapper {
    margin-top: 40px;

    width: 100%;
  }
  &Title {
    display: block;
    border-bottom: 1px solid var(--color-black);
    width: 100%;
    line-height: 150%;
  }

  &StartTime {
    font-size: 30px;
    color: var(--color-black);
  }
}

.fourthBlock {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  align-items: center;
  padding: 30px;

  &Wrapper {
    margin-top: 20px;

    width: 100%;
    background-color: #265989;
  }
  &Title {
    display: block;
    width: 100%;
    line-height: 150%;
    text-align: center;
    color: var(--color-white);
  }

  &Text {
    font-size: 20px;
    color: var(--color-white);
    a {
      color: var(--color-white);
    }
  }
}

.fifthBlock {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  align-items: center;
  padding: 30px;
  background: var(--color-white);
  border-radius: 40px;

  &Wrapper {
    width: 100%;
    background: #9dc5ea;
    padding: 20px;
  }

  &Button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #9dc5ea;
    color: var(--color-white);
    height: 40px;
    width: 100%;

    font-family: var(--font-bellota);
    font-weight: 700;
    border-radius: 40px;
  }
}

.successMessage {
  color: var(--color-black);
  font-size: 18px;
}

.anotherDevice {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: var(--color-white);
  display: flex;
  align-items: center;
  justify-content: center;

  &Text {
    font-size: 40px;
    font-family: var(--font-bellota);
    font-weight: 700;
    text-align: center;
  }

  @media (max-width: 500px) {
    & {
      display: none;
    }
  }
}
