@import "@/styles/main.scss";

.page {
  font-family: var(--font-poiret-one-sans), sans-serif;
  font-size: 16px;
  color: var(--color-white);
  background-color: var(--color-background-primary);
}

.container {
  padding: 0 20px;
  margin: 0 auto;
  max-width: 1080px;
}
